body {
  background-image: url("https://static.pexels.com/photos/37728/pexels-photo-37728.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
/*   background-color: grey; */
  font-weight: bold;
}

.container {
  height: 475px;
  width: 475px;
  border-radius: 100%;
  margin-top: 60px;
  position: relative;
/*   background: black; */
  box-shadow: 1px 5px 15px;
}

#color-row {
  position: absolute;
  width: 425px;
  top: 25px;
  left: 40px;
}

#color-row>.col-6 {
  height: 212.5px;
  opacity: 0.5;
}

[id="1"] {
/*   border-right: 12px solid #00fc43;
  border-bottom: 12px solid#00fc43; */
  border-radius: 100% 0 0 0;
  background-color: #00fc43;
}

[id="2"] {
/*   border-left: 12px solid red;
  border-bottom: 12px solid red;   */
  border-radius: 0 100% 0 0;
  background-color: red;
}

[id="3"] {
/*   border-right: 12px solid #fceb00;
  border-top: 12px solid #fceb00; */
  border-radius: 0 0 0 100%;
  background-color: #fceb00;
}

[id="4"] {
/*   border-left: 12px solid black;
  border-top: 12px solid black; */
  border-radius: 0 0 100% 0;
  background-color: #022ff9;
}

#inner {
  height: 250px;
  width: 250px;
  border: 5px solid silver;
  border-radius: 50%;
  position: absolute;
  top: 112.5px;
  left: 112.5px;
  background-color: white;
}

#simon {
  font-family: Gadget, serif;
  font-size: 60px;
  font-weight: 900;
  padding-top: 25px;
}

#indicator-row {
  padding-left: 25px;
  padding-right: 25px;
}


#indicator-row>.col-4:nth-child(2){
  padding-left: 25px;
}

.col-4 {
/*   padding-left: 5px !important;
  padding-right: 5px !important; */
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  font-size: 10px;
}

#count {
  height: 40px;
  width: 55px;
  border: 4px solid silver;
  border-radius: 10px;
  background-color: darkred;
  margin-bottom: 5px;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 22px;
  color: brown;
}

#count-label {
  margin-left: 13px;
}

#start {
  background-color: red;
  margin: 10px auto 10px auto;
  height: 25px;
  width: 25px;
  border: 4px solid silver;
  border-radius: 100%;
}

#strict-light {
  background-color: darkred;
  margin: -5px auto 0 auto;
  height: 10px;
  width: 10px;
  border: 2px solid silver;
  border-radius: 100%;
}

#strict-box {
  padding-right: 25px;
}

#strict {
  background-color: yellow;
  margin: 5px auto 10px auto;
  height: 25px;
  width: 25px;
  border: 4px solid silver;
  border-radius: 100%;
}

#strict-label {
  margin-left: -3px;
}

#switch-row {
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px auto 0 auto;
}

/* #switch-box {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  height: 20px;
  background-color: black;
} */

.switch {
  width: 36px;
  height: 20px;
  position: relative;
  display: inline-block;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: silver;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}


#switch-row>.col-4{
  padding: 2px 4px 0 4px;
  margin: 0;
}

/* #switch-off, #switch-on {
  border: 1px solid black;
  border-radius: 2px;
  padding: 1px;
} */

/* #switch-off {
  background-color: skyblue;
}
 */

.red-text {
  color: rgba(255, 0, 0, 1) !important;
}

.red-light {
  background-color: red !important;
}

#start:hover, #strict:hover, #switch-box:hover {
  cursor: pointer;
}

.text-blink {
  animation: text-blinker 0.5s linear 0.2s 2;
}

@keyframes text-blinker {
  from {color: rgba(255, 0, 0, 0);}
  to {color: rgba(255, 0, 0, 1);}
}

.block-blink {
  animation: block-blinker 2s cubic-bezier(0,1,.14,1);
}

@keyframes block-blinker {
  from {opacity: 0.5;}
  to {opacity: 1;}
}